<div class="container">
    <h1>Форма обратной связи</h1>
  
    <form >
      <div class="form-field">
        <label for="name">Ваше имя:</label>
        <input id="name" formControlName="name" type="text" />
      </div>
  
      <div class="form-field">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
      </div>
  
      <div class="form-field">
        <label for="message">Комментарий:</label>
        <textarea id="message" formControlName="message"></textarea>
      </div>
  
      <button type="submit" >Отправить</button>
    </form>
  
    <div>
      <p>Спасибо за ваш отзыв! Мы скоро свяжемся с вами.</p>
    </div>
  
    <div>
      <p>Произошла ошибка при отправке. Попробуйте еще раз.</p>
    </div>
  </div>