<div class="container">
    <h1>Форма обратной связи!</h1>
    

    <div *ngIf="successMessageVisible" class="success">
      <p>Спасибо за ваш отзыв! Мы скоро свяжемся с вами.</p>
    </div>
  
    <div *ngIf="errorMessageVisible" class="error">
      <p>Произошла ошибка при отправке. Попробуйте еще раз.</p>
    </div>

    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="name">Ваше имя:</label>
        <input id="name" formControlName="name" type="text" />
      </div>
  
      <div class="form-field">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
      </div>
  
      <div class="form-field">
        <label for="phone">Телефон:</label>
        <input id="phone" formControlName="phone" type="text" placeholder="+7 (___) ___-__-__" />
        <div *ngIf="feedbackForm.get('phone')?.invalid && feedbackForm.get('phone')?.touched" class="error">
          <p>Введите корректный номер телефона.</p>
        </div>
      </div>

      <div class="form-field">
        <label for="subject">Тема:</label>
        <select id="subject" formControlName="subject">
          <option value="support" selected>Техподдержка</option>
          <option value="sales">Продажи</option>
          <option value="other">Другое</option>
          <option value="other_field">Ещё один пункт</option>
        </select>
      </div>
  
      <div class="form-field">
        <label for="message">Комментарий:</label>
        <textarea id="message" formControlName="message"></textarea>
      </div>

      <div class="form-field">
        <!-- Добавляем капчу -->
        <re-captcha 
          [siteKey]="'6LeZXngqAAAAAL4WTBd8iEAfo0wj8GBMiLxp9X2_'"  
          formControlName="recaptcha"
          (resolved)="resolved($event)">
        </re-captcha>
      </div>
  
      <button type="submit">Отправить</button>
    </form>
  </div>